html, body {
    height: 101%;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -2.67969rem;
}
td {
    text-align: center;
}
td a, td form, td input {
    margin: 0 !important;
}
.push {
    height: 2.67969rem;
}
footer {
    bottom: 0px;
    height: 2.67969rem;
    width: 100%;
    padding: 0.7%;
    margin-bottom: 0px;
    text-align: center;
    background: #333333;
    color: #FFFFFF;
}
.footertext {
    top:50%;
}
header {
    background-color: #E8B217 !important;
    border-color: #E8B217 !important;
    opacity: 0.7 !important;
}
#links .columns {
    height: 120px !important;
}
.vertDivider {
    content:" ";
    margin:0 -15px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #FFFFFF;
}
#info {
    margin-top: 0.55rem;
}
#infosEnabled {
    padding: 0.1rem 1rem;
}

#ranking li ul li {
    list-style: none;
    float:  left;
}

#ranking li .progress{
    display: inline-block;
    width: 80%;
    margin: 0;
}

#ranking li span{
    display: inline-block;
    float: left;
}