html {
	overflow-y: scroll;
	overflow: -moz-scrollbars-vertical;
}

body { 
	padding-top: 70px; 
	font-size: 101%;
}

th {
	font-weight: bold;
}

.bottom-bar{
	position: fixed;
	bottom: 0px;
	width: 100%;
	margin-bottom: 0px;
	text-align: center;
	background: #333333;
	color: #FFFFFF;
}