html {
	overflow-y: scroll;
	overflow: -moz-scrollbars-vertical;
}

body { 
	padding-top: 70px; 
	font-size: 101%;
}

td{
	text-align: center;
}

td a{
	margin: 0 !important;
	width: 100%;
}

.bottom-bar{
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 0.7%;
	margin-bottom: 0px;
	text-align: center;
	background: #333333;
	color: #FFFFFF;
}

.footertext{
	top:50%;
}

header{
	background-color: #E8B217 !important;
	border-color: #E8B217 !important;
	opacity: 0.7 !important;
}