@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#container{
	width: 100%;
	height: 560px;
	margin-bottom: 0.625rem;
}

dt, dd{
	margin-top: 0.625rem;
}

#reset{
	margin-right: 0.625rem;
}

#help{
	font-size: 0.79rem;
}

#help, #submit, .sub-nav{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-bottom: 0 !important;
}

#greenArrow{
	color: green;
}

#redArrow{
	color: red;
}

#orangeArrow{
	color: orange;
}

.icon:before{
}

.icon-arrow-right:before {
	content: "\e600";
}

.icon-expand:before {
	content: "\e601";
}
.icon-loop:before {
	content: "\e602";
}

#repeat-alert, #loop-alert{
	display: none;
	width: 11.875rem;
	position: absolute;
	top: 25rem;
	left: 15.625rem;
}

#flipbox{
	height: 6.25rem;
	text-transform: uppercase;
}

#flipbox .row, #flipbox #menu-list, #flipbox #flipped{
	height: 100%;
}

#flipbox #flipped{
	background-color: rgba(232,178,23, 0.6);
}

#flipbox #flipped p{
	vertical-align: middle;
	text-align: center;
	line-height: 6.25rem;
	margin: 0;
	font-size: 2rem;
	font-weight: 800;
}

#ranking ol{
    list-style: none;
    margin: 0;
}

#ranking li ul li {
    list-style: none;
    float:  left;
    min-width: 10%;
}

#ranking li .progress{
    display: inline-block;
    width: 70%;
    margin: 0;
}

#ranking li span{
    display: inline-block;
    float: left;
}

#ranking li ul{
    margin-left: 0;
}

.canvas{
	position: relative;
}

#finalscore{
	position: absolute;
	top: 0;
	width: 200px;
	height: 150px;
	right: -200px;
}
